 body {
    color: rgb(207, 55, 55);
    background: rgb(161, 2, 2);
    margin: 0px;
     font-family: "Fjalla One", sans-serif;
}

header {
    border-bottom: solid 2px rgb(133, 31, 0);
    padding: 20px;
    font-size: 32px;
    color: rgba(235, 238, 243, 0.904);
}

section {
    background: rgba(234, 236, 128, 0.479);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}