 body {
    color: rgb(207, 55, 55);
    background: rgb(150, 32, 3);
    margin: 0px;
     font-family: "Fjalla One", sans-serif;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgba(32, 123, 241, 0.432);
}

section {
    background: rgba(234, 236, 128, 0.479);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
