 body {
    color: rgb(235, 113, 113);
    background: rgb(161, 2, 2);
    margin: 0px;
     font-family: "Fjalla One", sans-serif;
}

header {
    border-bottom: solid 2px rgba(158, 14, 14, 0.863);
    padding: 20px;
    font-size: 32px;
    color: rgba(235, 238, 243, 0.904);
}

.chamada {
    background: rgba(234, 236, 128, 0.479);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
h1{
    font-size: 50px;
}
p{
    font-size: 40px;
}
.categoria-videos{
    display:flex;
    overflow-x:auto ;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover {
opacity: 1.0;
border:1px solid rgb(167, 92, 236)
}
.categoria h2 {
    color: rebeccapurple;
}